# Ansible
*.retry
roles/
tests/roles/

# Swap files
*.swo
*.swp

# Python bytecode
*.pyc

# Pytest
.cache

# Tox
.tox

# Vagrant
.vagrant
*.log

# Molecule
.molecule

# Travis / CI related
.ruby-version
