---
language: python
python:
  - "3.6"
services:
  - docker

install:
  - pip install pipenv
  - pipenv install --dev

script:
  - pipenv run molecule test

after_success:
  - true

before_deploy:
  - if [ -n "$TRAVIS_TAG" ]; then git archive HEAD -o $TRAVIS_TAG.tar.gz; fi
  - if [ -n "$TRAVIS_TAG" ]; then git archive HEAD -o $TRAVIS_TAG.zip; fi

deploy:
  provider: releases
  skip_cleanup: true
  prerelease: true
  name: $TRAVIS_TAG release
  file:
    - $TRAVIS_TAG.tar.gz
    - $TRAVIS_TAG.zip
  api_key:
    secure: OYjEWU8XXIjqeaW/FgWKH+kEwXt5y0y1Ta3W/eWxKCK2f1G2W2rNKCuRUtzSXQbLbmIHImUgEMlm1VvB84JB2PqVE/EAOtojxFN21exNSdGlP4hihovjoWMAvnfo5SVNdBTZ6I3VoKlaeC6WpO71bZrMLyKUSPjU2Ni3JtMOCtJlGhaz89j6izMQAe2gFzPG5OoyyQrR7f/cVAQsbu9I2jEaOomsvf6yP6UvUXbVXcTUiCZkcngH1RHMVHuOSYttnYbZsawhVk2BAvQT1eZO/LQVo+j5ulcrlz4xDMyjvphjOw/0yqf7Rjk/rZn5avOcBpMyecDEkykRQHoJSnI7VES0cm0leWEFzcuGNU5KfR2m7HjjCDOTHYrlf8UKqrOISHqQoT4AFmUGEPut/GtW2RsTtrKxsj1VgTYiD/+eZXkSIU0eyR7Mhew5BEehvSWjVbrN0ZFOYxgAAZujixohOy7BG3vFSNn+A7/+QtCxiCqUyle/GrNbVw5fxpjtXRJaef4rubbuoMbYt1+BOrbnB+f1dzU8daZPvcGp/264kuEMtD69QkxtVdsypkXdRp1yTVZgY4l+psRnv4tEeG3T+pjIngbuWQMDP7tthguvsdtOrCvlLLwPt2pgcwexU58PINSEA9SLCEKk614wmsG9Y29zg8IZ+2piRxf58dZ5HnQ=
  on:
    repo: tulibraries/ansible-role-airflow
    tags: true
    branch:
      - master
      - /^v.*$/

notifications:
  webhooks: https://galaxy.ansible.com/api/v1/notifications/
