---
extends: default

ignore: |
  ./.cache/roles/
  .venv/

rules:
  braces:
    max-spaces-inside: 1
    level: error
  brackets:
    max-spaces-inside: 1
    level: error
  # 80 chars should be enough, but don't fail if a line is longer
  line-length:
    max: 250
    level: warning
  truthy: disable
