[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
docker = "*"
pytest-testinfra = "*"
ansible-lint = "*"

[packages]
ansible = "==12.1.0"
molecule = "*"
molecule-docker = "*"
cryptography = "*"
requests = "*"

[requires]
python_version = "3.12"
