[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-testinfra = "*"

[packages]
ansible = "==9.6.0"
ansible-lint = "*"
cryptography = "*"
docker = "*"
molecule = "*"
molecule-docker = "*"
pylint = "*"

# Remove once this is fixed: https://github.com/ansible-collections/community.docker/issues/868#issuecomment-2124979976
requests = "==2.32.2"

[requires]
python_version = "3.12"
