[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
pytest = "*"
pytest-testinfra = "*"
docker = "*"
molecule = "*"
molecule-docker = "*"
pylint = "*"

[packages]
ansible = "*"
ansible-lint = "*"
cryptography = "*"
requests = "*"

[requires]
python_version = "3.12"
