---

# Manage connections using Airflow CLI

- name: 'CONFIG | CONNECTIONS | Get existing connections'
  become_user: "{{ airflow_user_name }}"
  become: true
  shell: >
    set -o pipefail && \
      {{ airflow_virtualenv }}/bin/airflow connections --list | grep -E "\s+'" | cut -d "'" -f2
  changed_when: false
  failed_when: False
  no_log: True
  register: 'airflow_existing_connections'
  args:
    executable: /bin/bash


# Only add and delete actions are managed, not update
- name: 'CONFIG | CONNECTIONS | Remove listed connections'
  command: >
    {{ airflow_virtualenv }}/bin/airflow connections --delete --conn_id {{ item.conn_id }}
  changed_when: false
  no_log: True
  with_items: "{{ airflow_connections }}"
  when: 'item.conn_id in airflow_existing_connections.stdout_lines'


- name: 'CONFIG | CONNECTIONS | Add connections without extra settings'
  command: >
    {{ airflow_virtualenv }}/bin/airflow connections --add \
    --conn_id {{ item.conn_id }} \
    --conn_uri {{ item.conn_uri | default('') | quote }} \
    --conn_type {{ item.conn_type | default('') | quote }} \
    --conn_host {{ item.conn_host | default('') | quote }} \
    --conn_login {{ item.conn_login | default('') | quote }} \
    --conn_password {{ item.conn_password | default('') | quote }} \
    --conn_schema {{ item.conn_schema | default('') | quote }} \
    --conn_port {{ item.conn_port | default('') | quote }} \
  changed_when: false
  no_log: True
  with_items: "{{ airflow_connections }}"
  when: "(item.conn_extra | default('')) | length == 0"


- name: 'CONFIG | CONNECTIONS | Add connections with extra settings'
  command: >
    {{ airflow_virtualenv }}/bin/airflow connections --add \
    --conn_id {{ item.conn_id }} \
    --conn_uri {{ item.conn_uri | default('') | quote }} \
    --conn_type {{ item.conn_type | default('') | quote }} \
    --conn_host {{ item.conn_host | default('') | quote }} \
    --conn_login {{ item.conn_login | default('') | quote }} \
    --conn_password {{ item.conn_password | default('') | quote }} \
    --conn_schema {{ item.conn_schema | default('') | quote }} \
    --conn_port {{ item.conn_port | default('') | quote }} \
    --conn_extra {{ item.conn_extra | quote }}
  changed_when: false
  no_log: True
  with_items: "{{ airflow_connections }}"
  when: "(item.conn_extra | default('')) | length > 0"
