---

# Airflow installation tasks

# Manage system dependencies
- name: Refresh DNF metadata
  ansible.builtin.dnf:
    update_cache: true

- name: Ensure openssl-libs is present
  ansible.builtin.dnf:
    name: openssl-libs
    state: present

- name: Install openssl-devel
  ansible.builtin.dnf:
    name: openssl-devel
    state: present
    
- name: 'INSTALL | Manage system dependencies'
  ansible.builtin.package:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
  with_items: "{{ airflow_system_dependencies }}"

- name: 'CONFIG | Use Python 3.12 as default selection'
  community.general.alternatives:
    name: python3
    path: /usr/bin/python3.12
    link: /usr/bin/python3

- name: 'INSTALL | Add python symlink to python3'
  ansible.builtin.file:
    force: true
    dest: "/usr/bin/python"
    src: "/usr/bin/python3"
    state: link

- name: 'INSTALL | Add pip symlink to pip3'
  ansible.builtin.file:
    force: true
    dest: "/usr/bin/pip"
    src: "/usr/bin/pip3"
    state: link

# Create user
- name: 'INSTALL | Manage airflow user creation'
  ansible.builtin.user:
    name: "{{ airflow_user_name }}"
    createhome: true
    home: "{{ airflow_user_home_path }}"
    state: 'present'
    shell: "{{ airflow_user_shell }}"

# Check if configuration file exists
# This has to happen before the install, because the install creates a default file in $AIRFLOW_HOME
- name: 'INSTALL | Check if configuration file exists'
  ansible.builtin.stat:
    path: "{{ airflow_application_home }}/airflow.cfg"
  register: 'airflow_config_stat'
  changed_when: false

- name: 'INSTALL | Manage permissions on user home directory'
  ansible.builtin.file:
    path: "{{ airflow_user_home_path }}"
    owner: "{{ airflow_user_name }}"
    group: "{{ airflow_user_name }}"
    mode: "{{ airflow_user_home_mode }}"
    state: directory

- name: 'INSTALL | Manage permissions on airflow home directory'
  ansible.builtin.file:
    path: "{{ airflow_application_home }}"
    owner: "{{ airflow_user_name }}"
    group: "{{ airflow_user_name }}"
    mode: "{{ airflow_config.core.airflow_home_mode }}"
    state: directory

- name: 'INSTALL | Manage permissions on airflow dags directory'
  ansible.builtin.file:
    path: "{{ airflow_config.core.dags_folder }}"
    owner: "{{ airflow_user_name }}"
    group: "{{ airflow_user_name }}"
    mode: "{{ airflow_config.core.dags_folder_mode }}"
    state: directory

# setup environment for all users, AIRFLOW_HOME, etc
- name: 'INSTALL | Manage environment variables file'
  ansible.builtin.template:
    src: "{{ airflow_profiled_template }}"
    dest: "/etc/profile.d/airflow.sh"
    mode: "0644"
  when: airflow_provide_user_env

# Install airflow packages
- name: Import python_deps from environment
  ansible.builtin.set_fact:
    python_deps: "{{ lookup('env', 'PYTHON_DEPS') }}"
  when:
    - python_deps | length == 0
    - lookup('env', 'PYTHON_DEPS') | length > 0

- name: Ensure airflow_packages is a list
  ansible.builtin.set_fact:
    airflow_packages: []
  when:
    - airflow_packages is not defined or airflow_packages is string

- name: Normalize airflow_packages from python_deps
  ansible.builtin.set_fact:
    airflow_packages: >-
      {{
        airflow_packages | default([]) +
        [
          {
            "name": item | split('==') | first
                           | split('>=') | first
                           | split('<=') | first
                           | split('!=') | first
                           | split('>')  | first
                           | split('<')  | first,
            "version": item | regex_replace('^[^<>=!]+', '')
          }
        ]
      }}
  loop: "{{ python_deps.split(',') }}"
  when:
    - python_deps | length > 0

- name: 'INSTALL | Manage airflow installation'
  become_user: "{{ airflow_user_name }}"
  become: true
  ansible.builtin.pip:
    name: "{{ item.name }}"
    version: "{{ item.version | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    virtualenv: "{{ airflow_virtualenv }}"
    virtualenv_command: "python3 -m venv"
    extra_args: "{{ airflow_python_constraint }}"
  changed_when: "airflow_pip_changed_when"
  with_items: "{{ airflow_packages }}"
  environment:
    SLUGIFY_USES_TEXT_UNIDECODE: "yes"
  when: (not airflow_pip_custom_version_install) or
      (item.version is not defined) or
      ( (not item.version is search('<') ) and (not item.version is search('>') ) )

# Install dag dependency packages
- name: Import dag_deps from environment
  ansible.builtin.set_fact:
    dag_deps: "{{ lookup('env', 'DAG_DEPS') }}"
  when:
    - dag_deps | length == 0
    - lookup('env', 'DAG_DEPS') | length > 0

- name: Ensure dag_packages is a list
  ansible.builtin.set_fact:
    dag_packages: []
  when:
    - dag_packages is not defined or dag_packages is string
    
- name: Normalize dag_packages from dag_deps
  ansible.builtin.set_fact:
    dag_packages: >-
      {{
        dag_packages | default([]) +
        [
          {
            "name": item | split('==') | first
                           | split('>=') | first
                           | split('<=') | first
                           | split('!=') | first
                           | split('>')  | first
                           | split('<')  | first,
            "version": item | regex_replace('^[^<>=!]+', '')
          }
        ]
      }}
  loop: "{{ dag_deps.split(',') }}"
  when:
    - dag_deps | length > 0
  
- name: 'INSTALL | Manage dag dependency installation'
  become_user: "{{ airflow_user_name }}"
  become: true
  ansible.builtin.pip:
    name: "{{ item.name }}"
    version: "{{ item.version | default(omit) }}"
    state: "{{ item.state | default('present') }}"
    virtualenv: "{{ airflow_virtualenv }}"
    virtualenv_command: "/usr/bin/python3 -m venv"
  changed_when: "airflow_pip_changed_when"
  with_items: "{{ dag_packages }}"
  environment:
    SLUGIFY_USES_TEXT_UNIDECODE: "yes"
  when: (not airflow_pip_custom_version_install) or
      (item.version is not defined) or
      ( (not item.version is search('<') ) and (not item.version is search('>') ) )

# Install airflow packages
# Ansible's pip module doesn't currently support complex version strings
# https://github.com/ansible/ansible/issues/19321
- name: 'INSTALL | Manage airflow installation - complex pip versions'
  become_user: "{{ airflow_user_name }}"
  become: true
  ansible.builtin.command: "{{ airflow_virtualenv }}/bin/pip install '{{ item.name }}{{ item.version }}' {{ airflow_python_constraint }}"
  changed_when: "airflow_pip_changed_when"
  with_items: "{{ airflow_packages }}"
  when: (airflow_pip_custom_version_install) and
        (item.version is defined) and
      ( (item.version is search('<') ) or (item.version is search('>') ) )

# Install airflow extra packages
- name: 'INSTALL | Manage airflow extra packages installation'
  become_user: "{{ airflow_user_name }}"
  become: true
  ansible.builtin.pip:
    name: "{{ item.name }}"
    state: "{{ item.state | default('present') }}"
    virtualenv: "{{ airflow_virtualenv }}"
    virtualenv_command: "/usr/bin/python3 -m venv"
    extra_args: "{{ airflow_python_constraint }}"
  changed_when: "airflow_pip_changed_when"
  with_items: "{{ airflow_extra_packages }}"

# Set permissions after the venv is created
- name: 'INSTALL | Manage permissions on airflow venv directory'
  ansible.builtin.file:
    path: "{{ airflow_virtualenv }}"
    owner: "{{ airflow_user_name }}"
    group: "{{ airflow_user_name }}"
    mode: "{{ airflow_virtualenv_mode }}"
    state: directory
