# {{ ansible_managed }}

export PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ airflow_virtualenv ~ '/bin' }}:{{ airflow_user_home_path }}.local/bin:$PATH"

# General
export AIRFLOW_HOME="{{ airflow_application_home }}"
export AIRFLOW_CONFIG="{{ airflow_application_home ~ '/airflow.cfg' }}"
export AIRFLOW_BINARY_PATH="{{ airflow_virtualenv ~ '/bin' }}"

# Api specific
export AIRFLOW__API__HOST="{{ airflow_config.api.host }}"
export AIRFLOW__API__PORT="{{ airflow_config.api.port }}"
export AIRFLOW__API__WORKER_TIMEOUT="{{ airflow_config.api.worker_timeout }}"
export AIRFLOW__API__WORKERS="{{ airflow_config.api.workers }}"
