# {{ ansible_managed }}

PATH="/usr/local/sbin:/usr/local/bin:/usr/sbin:/usr/bin:{{ airflow_virtualenv ~ '/bin' }}:{{ airflow_user_home_path }}.local/bin:$PATH"

# General
AIRFLOW_HOME="{{ airflow_application_home }}"
AIRFLOW_CONFIG="{{ airflow_application_home ~ '/airflow.cfg' }}"
AIRFLOW_BINARY_PATH="{{ airflow_virtualenv ~ '/bin' }}"
LD_LIBRARY_PATH="/usr/local/lib:$LD_LIBRARY_PATH"

# API specific
AIRFLOW__API__HOST="{{ airflow_config.api.host | default('0.0.0.0') }}"
AIRFLOW__API__PORT="{{ airflow_config.api.port }}"
AIRFLOW__API__WORKER_TIMEOUT="{{ airflow_config.api.worker_timeout }}"
AIRFLOW__API__WORKERS="{{ airflow_config.api.workers }}"

AIRFLOW__CELERY__BROKER_URL="{{ airflow_celery.broker_url }}"
AIRFLOW__CELERY__RESULT_BACKEND="{{ airflow_celery.result_backend }}"
AIRFLOW__CELERY__WORKER_CONCURRENCY="{{ airflow_celery.worker_concurrency }}"

# OAuth / Google
GOOGLE_CLIENT_ID="{{ airflow_google_client_id }}"
GOOGLE_CLIENT_SECRET="{{ airflow_google_client_secret }}"

# Webserver config (needed for OAuth)
AIRFLOW__WEBSERVER__WEB_SERVER_CONFIG="{{ airflow_application_home }}/webserver_config.py"
AIRFLOW__CORE__AUTH_MANAGER=airflow.providers.fab.auth_manager.fab_auth_manager.FabAuthManager